<a href="https://colab.research.google.com/github/euns-tory/AIFFEL_quest_cr/blob/main/Python/Quest04/Python_Quest_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

첫번째 시도

In [49]:
from posixpath import split
from math import *

try:
  num1=input("정수를 한개 입력하세요 ")
  num2=input("정수를 한개 더 입력하세요 ")  #input에 정수를 입력하더라도 str로 나옴
  num1==int(num1)        #따러서 여기서 바로 입력값이 정수가 맞는지 확인할 수 없음.
  num2==int(num2)        #정수로 변환 가능한지 확인 후 오류면 except, 아니면 else로 넘어가는 시도를 해야함.


except:
	print ('잘못된 입력입니다. ')
	pass    #pass를 하게 될 경우 그냥 다음 단계로 넘어가버림.처음으로 돌아가고 싶으면 while문이나 매서드 재귀호출? 사용

else:
	opts=['+','-','*','/','**']
	opt=input('연산자를 입력하세요 ex:+,-,*,/,** ')
	try:
		opt in opts
	except:
		raise ValueError('잘못된 입력입니다. ' )
		pass


finally:                #finally는 예외 상관없이 항상 실행되는 코드임.따라서 이후 시도에서 제거
  if opt=='/' and num2==0:
    raise ZeroDivisionError('0으로는 나눌 수 없습니다.')
  else:
    if opt=='+':
      print(num1, opt, num2,'=', num1 + num2)       #num1, num2가 정수형이 아닌 문자형으로 입력됨
    elif opt=='-':
      print(num1, opt, num2,'=', num1 - num2)
    elif opt=='*':
      print(num1, opt, num2,'=', num1 * num2)
    elif opt=='/':
      print(num1, opt, num2,'=', num1 / num2)
    elif opt=='**':
      print(num1, opt, num2,'=', num1 ** num2)

정수를 한개 입력하세요 2
정수를 한개 더 입력하세요 4.5
잘못된 입력입니다.

TypeError: can't multiply sequence by non-int of type 'str'

In [42]:
a=input(5)
type(a)

55

str

두번째 시도- 한 번 돌리는 것은 오류 없이 나오나 이후 계속 계산기를 반복할 수가 없음

In [47]:
from posixpath import split
from math import *

try:
    num1 = input("정수를 한개 입력하세요: ")
    num2 = input("정수를 한개 더 입력하세요: ")

    num1 = int(num1)  # str유형으로 나온 num1, num2를 정수로 변환
    num2 = int(num2)

except ValueError:   #발생할 예외를 미리 입력하여 해당 예외 발생 시 즉시 except 발동
    print('잘못된 입력입니다. 정수를 입력해주세요.')

else:
    opts = ['+', '-', '*', '/', '**']
    opt = input('연산자를 입력하세요 ex: +, -, *, /, **: ')
    #조건문으로 예외 처리하기
    if opt not in opts:    #리스트에 있는 원소인지 확인하는 논리연산자
        print('잘못된 입력입니다. 지원하지 않는 연산자입니다.')
    else:
        try:
            if opt == '/' and num2 == 0:
                raise ZeroDivisionError('0으로는 나눌 수 없습니다.')
            elif opt == '+':
                print(num1, opt, num2, '=', num1 + num2)   #f'{num1} {opt} {num2} = {num1 + num2}' 포멧팅 형태로 작성 가능
            elif opt == '-':
                print(num1, opt, num2, '=' ,num1 - num2)
            elif opt == '*':
                print(num1, opt, num2, '=', num1 * num2)
            elif opt == '/':
                print(num1, opt, num2 ,'=', num1 / num2)
            elif opt == '**':
                print(num1, opt, num2 ,'=', num1 ** num2)
        except ZeroDivisionError as e:
            print(e)

정수를 한개 입력하세요: 100
정수를 한개 더 입력하세요: 4
연산자를 입력하세요 ex: +, -, *, /, **: *
100 * 4 = 400

결과

In [52]:
from math import *

# 정수를 입력받는 함수
def get_integer_input(a):    #입력받을 어떤 값을 일단 변수로 지정
    while True:      #정수가 아닌 경우 반복하는 함수이다.(예외문에서는 예외가 발생한 경우가 True)
        try:          #차후 try-catch 구문 공부하기
            return int(input(a))  # 정수로 변환하여 반환되는 경우 함수 종단
        except ValueError:
            print('잘못된 입력입니다. 정수를 입력해주세요.')  # 잘못된 입력 처리

# 프로그램 시작
while True:
    num1 = get_integer_input("정수를 한개 입력하세요: ")
    num2 = get_integer_input("정수를 한개 더 입력하세요: ")

    opts = ['+', '-', '*', '/', '**']
    opt = input('연산자를 입력하세요 ex: +, -, *, /, **: ')

    if opt not in opts:
        print('잘못된 입력입니다. 지원하지 않는 연산자입니다.')
    else:
        try:
            if opt == '/' and num2 == 0:
                raise ZeroDivisionError('0으로는 나눌 수 없습니다.')
            elif opt == '+':
                print(num1, opt, num2, '=', num1 + num2)
            elif opt == '-':
                print(num1, opt, num2, '=' ,num1 - num2)
            elif opt == '*':
                print(num1, opt, num2, '=', num1 * num2)
            elif opt == '/':
                print(num1, opt, num2 ,'=', num1 / num2)
            elif opt == '**':
                print(num1, opt, num2 ,'=', num1 ** num2)
        except ZeroDivisionError as e:
            print(e)

    # 계산 후 다시 할지 묻기
    again = input("계속 계산을 하시겠습니까? (y/n): ").strip().lower()
    if again != 'y':
        print("계산기를 종료합니다.")
        break

정수를 한개 입력하세요: 10
정수를 한개 더 입력하세요: 4.5
잘못된 입력입니다. 정수를 입력해주세요.
정수를 한개 더 입력하세요: 8
연산자를 입력하세요 ex: +, -, *, /, **: -
10 - 8 = 2
계속 계산을 하시겠습니까? (y/n): n
계산기를 종료합니다.

![image.png]()

회고: 코드를 보면 이해는 되나 직접 코드를 작성하려면 생각이 나지 않았다. 앞으로 더 많은 코드를 직접 짜보는 연습을 하며 익숙해져야겠다고 생각했다.